<a href="https://colab.research.google.com/github/Khan26nilofer/Data-cleaning-of-dataset/blob/main/FinalDataset_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [ ]:
data.shape

(29, 7)

## missing value

In [ ]:
data.isna().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [ ]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

#convert heading in lower

In [ ]:
data.columns.str.lower()

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy apply'],
      dtype='object')

#replacing

In [ ]:
data.columns = data.columns.str.lower().str.replace(' ','_')

In [ ]:
data.columns

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy_apply'],
      dtype='object')

In [ ]:
data.head()

   index   age     salary  rating       location  established easy_apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

#Age

In [ ]:
data['age']

0     44.0
1     66.0
2      NaN
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12     NaN
13    25.0
14    66.0
15    44.0
16    19.0
17     NaN
18    35.0
19    32.0
20     NaN
21    35.0
22    19.0
23     NaN
24    13.0
25    55.0
26     NaN
27    52.0
28     NaN
Name: age, dtype: float64

In [ ]:
data.age.mean()

39.04545454545455

In [ ]:
avg_Age = data.age.mean()

#fill avg value

In [ ]:
data['age'] = data['age'].fillna(avg_Age)

#round off decimal

In [ ]:
data['age'] = data['age'].fillna(avg_Age)
data['age'] = data['age'].round(decimals=1)
data['age']

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: age, dtype: float64

In [ ]:
data['age'] = data['age'].astype(int)

In [ ]:
data['age']

0     44
1     66
2     39
3     64
4     25
5     44
6     21
7     44
8     35
9     22
10    55
11    44
12    39
13    25
14    66
15    44
16    19
17    39
18    35
19    32
20    39
21    35
22    19
23    39
24    13
25    55
26    39
27    52
28    39
Name: age, dtype: int64

Salary

In [ ]:
data['salary']

0      $44k-$99k
1      $55k-$66k
2      $77k-$89k
3      $44k-$99k
4      $44k-$99k
5      $77k-$89k
6      $44k-$99k
7      $44k-$99k
8      $44k-$99k
9      $44k-$99k
10     $10k-$49k
11     $10k-$49k
12     $44k-$99k
13     $44k-$99k
14     $44k-$99k
15    $88k-$101k
16     $19k-$40k
17     $44k-$99k
18     $44k-$99k
19     $44k-$99k
20     $44k-$99k
21     $44k-$99k
22     $55k-$66k
23     $44k-$99k
24     $44k-$99k
25     $44k-$99k
26     $55k-$66k
27     $44k-$99k
28     $39k-$88k
Name: salary, dtype: object

#replacing $

In [ ]:
data['salary'] = data['salary'].apply(lambda x:x.replace('$',''))

In [ ]:
data['salary']

0      44k-99k
1      55k-66k
2      77k-89k
3      44k-99k
4      44k-99k
5      77k-89k
6      44k-99k
7      44k-99k
8      44k-99k
9      44k-99k
10     10k-49k
11     10k-49k
12     44k-99k
13     44k-99k
14     44k-99k
15    88k-101k
16     19k-40k
17     44k-99k
18     44k-99k
19     44k-99k
20     44k-99k
21     44k-99k
22     55k-66k
23     44k-99k
24     44k-99k
25     44k-99k
26     55k-66k
27     44k-99k
28     39k-88k
Name: salary, dtype: object

In [ ]:
data['salary'] = data.salary.str.lower().str.replace('k','000')

In [ ]:
data['salary']

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: salary, dtype: object

#Location

In [ ]:
data['location']

0          India,In
1       New York,Ny
2       New York,Ny
3          India In
4     Australia Aus
5          India,In
6       New York,Ny
7     Australia Aus
8       New York,Ny
9          India,In
10         India,In
11         India,In
12         India,In
13    Australia Aus
14    Australia Aus
15    Australia Aus
16         India,In
17      New York,Ny
18      New York,Ny
19      New York,Ny
20      New York,Ny
21      New York,Ny
22      New York,Ny
23      New York,Ny
24      New York,Ny
25    Australia Aus
26         India,In
27         India,In
28    Australia Aus
Name: location, dtype: object

In [ ]:
data['location'] = data.location.str.replace('India,In','India')
data['location'] = data.location.str.replace('Australia Aus','Australia')
data['location'] = data.location.str.replace('New York,Ny','New York')

In [ ]:
data['location']

0         India
1      New York
2      New York
3      India In
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: location, dtype: object

#established

In [ ]:
data.established

0     1999
1     2002
2       -1
3     1988
4     2002
5     1999
6       -1
7       -1
8       -1
9       -1
10    2008
11    2009
12    1999
13    2019
14    2020
15    1999
16    1984
17    1943
18    1954
19    1955
20    1944
21    1946
22    1988
23    1999
24    1987
25    1980
26    1934
27    1935
28    1932
Name: established, dtype: int64

In [ ]:
data['established'] = data['established'].replace(-1, np.nan)

In [ ]:
data['established']

0     1999.0
1     2002.0
2        NaN
3     1988.0
4     2002.0
5     1999.0
6        NaN
7        NaN
8        NaN
9        NaN
10    2008.0
11    2009.0
12    1999.0
13    2019.0
14    2020.0
15    1999.0
16    1984.0
17    1943.0
18    1954.0
19    1955.0
20    1944.0
21    1946.0
22    1988.0
23    1999.0
24    1987.0
25    1980.0
26    1934.0
27    1935.0
28    1932.0
Name: established, dtype: float64

In [ ]:
data['established'] = pd.to_numeric(data['established'], errors='coerce')
data['established'] = data['established'].astype('Int64')

In [ ]:
data['established']

0     1999
1     2002
2     <NA>
3     1988
4     2002
5     1999
6     <NA>
7     <NA>
8     <NA>
9     <NA>
10    2008
11    2009
12    1999
13    2019
14    2020
15    1999
16    1984
17    1943
18    1954
19    1955
20    1944
21    1946
22    1988
23    1999
24    1987
25    1980
26    1934
27    1935
28    1932
Name: established, dtype: Int64

#Easy apply

In [ ]:
data['easy_apply']

0     TRUE
1     TRUE
2       -1
3       -1
4       -1
5     TRUE
6       -1
7       -1
8       -1
9     TRUE
10    TRUE
11      -1
12      -1
13    TRUE
14    TRUE
15      -1
16      -1
17    TRUE
18    TRUE
19    TRUE
20    TRUE
21      -1
22    TRUE
23    TRUE
24      -1
25    TRUE
26    TRUE
27      -1
28      -1
Name: easy_apply, dtype: object

In [ ]:
data['easy_apply'] = data['easy_apply'].str.replace('-1','False')

In [ ]:
data['easy_apply']

0      TRUE
1      TRUE
2     False
3     False
4     False
5      TRUE
6     False
7     False
8     False
9      TRUE
10     TRUE
11    False
12    False
13     TRUE
14     TRUE
15    False
16    False
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    False
22     TRUE
23     TRUE
24    False
25     TRUE
26     TRUE
27    False
28    False
Name: easy_apply, dtype: object

#rating

In [ ]:
data['rating']

0     5.4
1     3.5
2    -1.0
3     4.4
4     6.4
5     1.4
6     0.0
7    -1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13   -1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24   -1.0
25    0.0
26    NaN
27    5.4
28    3.4
Name: rating, dtype: float64

In [ ]:
data['rating'] = data['rating'].replace(-1,'np.nan')

In [ ]:
data['rating']

0        5.4
1        3.5
2     np.nan
3        4.4
4        6.4
5        1.4
6        0.0
7     np.nan
8        5.4
9        7.7
10       5.4
11       6.7
12       0.0
13    np.nan
14       4.0
15       3.0
16       4.5
17       5.3
18       6.7
19       3.3
20       5.7
21       5.0
22       7.8
23       2.4
24    np.nan
25       0.0
26       NaN
27       5.4
28       3.4
Name: rating, dtype: object

In [ ]:
data['rating'] = data['rating'].replace('np.nan', np.nan)

In [ ]:
data['rating']

0     5.4
1     3.5
2     NaN
3     4.4
4     6.4
5     1.4
6     0.0
7     NaN
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    NaN
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    NaN
25    0.0
26    NaN
27    5.4
28    3.4
Name: rating, dtype: float64

In [ ]:
data['rating'] = data['rating'].apply(lambda x: np.nan if pd.isna(x) else round(x, 1))
data['rating'].fillna(data['rating'].mean(), inplace=True)
data['rating'] = data['rating'].round(decimals=1)

In [ ]:
data['rating']

0     5.4
1     3.5
2     4.3
3     4.4
4     6.4
5     1.4
6     0.0
7     4.3
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    4.3
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    4.3
25    0.0
26    4.3
27    5.4
28    3.4
Name: rating, dtype: float64